output/**
*.class
*.iml
*/.idea/**
.idea/**
.idea
*.log
logs/
*.log.[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]
*/.classpath
.classpath
*/.project
.project
.cache/**
target/
.gradle
*/build
.DS_Store
logs
web/.sass-cache/
web/app/
web/index.html
web/master/bower_components/
web/master/node_modules/
web/master/tests/

*/com/jasperwireless/**